## Ignore build products
_build/
dist
latex/.auctex-auto

## Ignore shake folder
.shake/

## Cabal & Stack
*/dist
*~
**/dist-newstyle/
cabal.project.local
stack.yaml.lock
.ghc.environment.*
ghcid.txt

## Editors
TAGS
tags
*.temp
.dir-locals.el
.editorconfig

## Nix artifacts
result*

## macOS
.DS_Store
