## Ignore LaTeX build products
**/*.aux
**/*.lof
**/*.log
**/*.lot
**/*.fls
**/*.out
**/*.toc
**/*.fmt
**/*.fot
**/*.cb
**/*.cb2
**/*.lb
**/*.ptb
**/*.xdv
**/*.pdf
**/*.fdb_latexmk
**/auto
**/*.synctex.gz

## Bibliography auxiliary files (bibtex/biblatex/biber):
**/*.bbl
**/*.bcf
**/*.blg
**/*-blx.aux
**/*-blx.bib
**/*.run.xml

## Cabal & Stack
*/dist
*~
**/dist-newstyle/
cabal.project.local
stack.yaml.lock
.ghc.environment.*
ghcid.txt

## Editors
TAGS
tags
*.temp
.dir-locals.el
.editorconfig

## Nix artifacts
result*

## macOS
.DS_Store

## Other
*.agdai
dist/
src/latex/Conway/
src/latex/EssentialAgda.tex
src/latex/Ledger/
src/latex/MidnightExample/
src/latex/ScriptVerification/
