## Ignore build products
_build/
dist

## Ignore shake folder
.shake/

## Cabal & Stack
*/dist
*~
**/dist-newstyle/
cabal.project.local
stack.yaml.lock
.ghc.environment.*
ghcid.txt

## Editors
TAGS
tags
*.temp
.dir-locals.el
.editorconfig
\#*\#

## Nix artifacts
result*

## macOS
.DS_Store

## git-merge conflict resolution artifacts
*.agda.orig
*.lagda.orig

## Python
build-tools/scripts/md/__pycache__/
__pycache__

## LaTeX
latex/.auctex-auto
build-tools/static/latex/*.aux
build-tools/static/latex/*.log
build-tools/static/latex/*-Diagram.pdf
build-tools/static/latex/*-Diagram.svg

## Prevent accidental adding of conflict files!
*.orig
